@model IEnumerable<BRPChurch.Models.ActivitiesViewModel>

@{
    ViewData["Title"] = "Index";
}
<body style='background: #d3d3d1'>
    <h2>Activities</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityType)

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    </body>
