@model IEnumerable<BRPChurch.Models.Worship>

@{
    ViewData["Title"] = "Index";
}

<h2>Songs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.WorshipType.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorshipType.Type)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorshipId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WorshipId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorshipId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
