@model IEnumerable<BRPChurch.Models.Events>

@{
    ViewData["Title"] = "Events";
}
<body style='background: #202020'>
    <h2>@ViewData["Title"]</h2>
    <hr/>
    <p>
        <a asp-action="Create" class="btn">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venue)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venue)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" class="btn" asp-route-id="@item.EventId">Edit</a>
                            <a asp-action="Details" class="btn" asp-route-id="@item.EventId">Details</a>
                            <a asp-action="Delete" class="btn" asp-route-id="@item.EventId">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    </body>