@model IEnumerable<BRPChurch.Models.WorshipType>

@{
    ViewData["Title"] = "Index";
}

<h2>Song Type</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorshipTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WorshipTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorshipTypeId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
