@model IEnumerable<BRPChurch.Models.Service>

@{
    ViewData["Title"] = "Index";
}
<body style='background: #d8d8d6'>
    <h2>Service Liturgy</h2>
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Leader)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speaker)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leader)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Speaker)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @if (item.Leader == ViewBag.currentuser || User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.ServiceId"> Delete </a>
                        }
                    </td>


                </tr>
            }
        </tbody>
    </table>
</body>
